{% set repository = { repositories: [{ type: 'composer', url: url }]} %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ name }} Composer Repository</title>
    <style type="text/css">
        {% include 'styles.css' %}
    </style>
</head>
<body ng-app="satisBrowser">

<div id="doc" class="yui-t7" ng-controller="mainController">
    <div id="hd">
        <h1>{{ name }} Composer Repository</h1>
        {% if description %}
            <p>{{ description | raw }}</p>
        {% endif %}
        <div id="lastupdate">
            Last updated: <time datetime="{{ "now" | date(constant('\DateTime::ISO8601')) }}">{% verbatim %}{{ lastUpdate|date }}{% endverbatim %}</time>
        </div>
    </div>
    <div id="bd">
        <div class="yui-g">
            Adding the repository to <em>composer.json</em>:
            <pre><code>{{ repository | json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) | raw }}</code></pre>

            Filter by package name:
            <input type="text" id="search" ng-model="search.highest.name" autocomplete="off" autofocus />

            {% verbatim %}
            <div ng-repeat="(name, package) in packages | filter:search">
                <h3 id="{{ package.highest.name }}">{{ package.highest.name }}</h3>
                <p ng-if="package.highest.description">{{ package.highest.description }}</p>
                <table>
                    <tr ng-if="package.highest.homepage">
                        <th>Homepage</th>
                        <td><a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a></td>
                    </tr>
                    <tr ng-if="package.highest.license">
                        <th>License</th>
                        <td>{{ package.highest.license.join(', ') }}</td>
                    </tr>
                    <tr ng-if="package.highest.authors">
                        <th>Authors</th>
                        <td>
                            <span ng-repeat="author in package.highest.authors" ng-switch="author.homepage.length > 0">
                                <a ng-switch-when="true" href="{{ author.homepage }}">{{ author.name }}</a>
                                <span ng-switch-default>{{ author.name }}</span>
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="package.highest.support">
                        <th>Support</th>
                        <td>
                            <ul>
                                <li ng-repeat="(support_type, support_url) in package.highest.support">{{ support_type | capitalize }}: <a href="{{ support_url }}">{{ support_url }}</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Releases</th>
                        <td>
                            <span ng-repeat="version in package.versions" ng-switch="version.dist.type.length > 0">
                                <a ng-switch-when="true" href="{{ version.dist.url }}" title="{{ version.dist.reference }}">{{ version.version }}</a>
                                <a ng-switch-default href="{{ version.source.url }}" title="{{ version.source.reference }}">{{ version.version }}</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Required by</th>
                        <td>
                            <ul>
                                <li ng-repeat="dependency in dependencies[name]"><a href="#{{ dependency }}">{{ dependency }}</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            {% endverbatim %}
        </div>
    </div>
    <div id="ft">
        <p><small>This Composer Repository is proudly powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }} - Last updated:  {{ "now"|date(constant('\DateTime::ISO8601')) }}</small></p>
    </div>
</div>

<script src="vendor/angularjs/angular.js"></script>
<script>
    angular
        .module('satisBrowser', [])
        .value('packages', {{ packages | json_encode | raw }})
        .value('dependencies', {{ dependencies | json_encode | raw }})
        .value('lastUpdate', new Date({{ "now" | date(constant('\DateTime::RFC2822')) | json_encode | raw }}))
        .filter('capitalize', function() {
            return function(input, all) {
                return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
            }
        })
        .controller('mainController', ['$scope', 'packages', 'dependencies', 'lastUpdate', function ($scope, packages, dependencies, lastUpdate) {
            $scope.packages = packages;
            $scope.dependencies = dependencies;
            $scope.lastUpdate = lastUpdate;
        }]);
</script>
</body>
</html>
